{% extends 'all-gallery/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <img id="myImg" src="{{image.image.url}}" class="img-responsive" alt="" style="width: 100%;">

        </div>
        
   
   
        <div class="col-md-6">
            <h1>{{image.image_name}}</h1>

        </div>
   
   
        <div class="col-md-6">
            <p>{{image.image_description}}</p>

        </div>
        

 
        <div class="col-md-6">
            <p>Posted {{image.pub_date|timesince}} ago at {{image.location.name}}</p>

        </div>
    </div>

</div>
{% endblock %}

