{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid">
    <!-- looping through gallery -->
    
    <div class="row">
    {% for gallery_item in gallery%}
            
    <div class=" col-lg-3 col-md-3 col-sm-3">
        <!-- displaying Gallery images -->
        <a href=""></a>
            <img id="myImg" src="{{gallery_item.image.url}}" class="img-responsive" alt="" style='width:100%;'>
    
        <div id='myModal' class='modal'>
            <!-- The close Button -->
            <span class="close">&times;</span>
            <!-- Modal content (The image) -->
            

            <img class="modal-content" id="image.id" >
            
            <!-- Modal Caption(Image Text) -->
            <div id="caption"></div>

        </div>
        
    </div>



    {% empty%}
    <div class="row">
        <h2>There No gallery Items</h2>

    </div>
        
    {% endfor %}
    </div>
    </div>
{% endblock %}