{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}


    <div class="container-fluid">
        <!-- looping through gallery -->
        <!-- <div class="grid">
            <div class="grid-item"> -->
                <div class="row">
                    
                    <div class="card-columns">
                        {% for image in images%}
                        <div class=" col-lg-4 col-md-4 col-sm-4">
                        <!-- displaying Gallery images -->
                        <div class="card border-secondary">
                            <img class="card-img-top" id="myImg"  src="{{image.image.url}}" class="img-responsive" alt="" style='width:100%;'  data-toggle="modal" data-target="#myModal{{image.id}}"  >

                        </div>
                        </div>
                        <div class="modal fade" id="myModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="myModalLongTitle">{{image.image_name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span   aria-hidden="true" >&times;</span>
                                    </button>
                                </div>
                            
                                <div class="modal-body">
                                    <img class="card-img-top" class="img-responsive" src="{{image.image.url}}" style="width: 100%;">
                                    <p>{{image.image_description}}</p>
                                    <p>Posted {{image.pub_date|timesince}} ago at {{image.location.name}}</p>
                            
                                    
                                    <p> Category: {{ image.category.name }} </p>
                                    
                            
                                    <!-- The button used to copy the text -->
                            
                                    <button type="copy" name="button" class="btn btn-primary" value="https://gallery.herokuapp.com{{image.image.url}}" onclick="copylink(this.value)">Copy Image Link</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="close" class="btn btn-primary" data-dismiss="modal"  >Close</button>
                            
                                </div>
                                </div>
                            </div>
                        </div>
                    
                        {% endfor %}

                        <script>
                        function copylink(value) {
                            console.log('Hello')
                            function handler(event){
                                event.clipboardData.setData('text/plain', value);
                                event.preventDefault();
                                document.removeEventListener('copy', handler, true);
                            }
                            document.addEventListener('copy', handler, true);
                            document.execCommand('copy');
                        }
                        </script>
                        
                    
                </div>
                        
                    
                </div>

            </div>

        </div>

        
        
    </div>
{% endblock %}