{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}

    <div class="container-fluid">
        <!-- looping through gallery -->
        
        <div class="row">
        {% for gallery_item in gallery%}
                
        <div class=" col-lg-3 col-md-3 col-sm-3">
            <!-- displaying Gallery images -->
            <a href="" ></a> 
                <img id="myImg"  src="{{gallery_item.image.url}}" class="img-responsive" alt="" style='width:100%;'  class="copy_image" data-target="#myModal" data-toggle="modal" >

            
                
        
            <div id='myModal' class='modal' >
                <!-- The close Button -->
                <span class="close">&times;</span>
                <!-- Modal content (The image) -->
                
                

                <img class="modal-content" id="image.id" >
                
                <!-- Modal Caption(Image Text) -->
                <div id="caption">
                    <div class="col-md-6">
                        <h1>{{gallery_item.image_name}}</h1>
                    </div>
                    
                    <div class="col-md-6">
                        <p>{{gallery_item.image_description}}</p>
            
                    </div>
                
                    <div class="col-md-6">
                        <p>Posted {{gallery_item.pub_date|timesince}} ago at {{gallery_item.location.name}}</p>
                        
                    </div>
                    <div class="btn btn-primary">
                        <button id='clip_board' data-clipboard-image="" class="copy-button">Copy to ClipBoard</button>

                    </div>

                    
                </div>

            </div>
            
        </div>

    

        {% empty%}
        <div class="row">
            <h2>There No gallery Items</h2>

        </div>
            
        {% endfor %}
        </div>
    </div>
{% endblock %}