{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}

<div class="container-fluid">
    <!-- looping theough gallery -->
    {% for gallery_item in gallery %}
    <div class="row">
        <div class="column">
            <!-- displaying Gallery images -->
            <a href="">
                <img src="{{gallery_item.image.url}}" class="img-responsive" alt="Image" onclick="openImg(this);">

            </a>
    
        </div>
    </div>
    <div class='container'>
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times</span>

        <img id="expandedImg" style="width:100%">

    </div>


{% empty%}
        <div class="row">
            <h2>There No gallery Items</h2>

        </div>
{% endfor %}
</div>
{% endblock %}