body {
    padding:20px;
    margin: 20px;
    border: 20px;
    background-image: url('../images/img.jpg');

    

   

}

h1{
    color: maroon;
    font-size: 50px;
    font-family: cursive;
    text-shadow: 2px 2px grey;


}
p {
    font-size: 35px;
    font-family: fantasy;
    font-weight: bold;
}
a {
    
    font-family: cursive;
    
}
/* .grid-item{width: 200px;}
.grid-item--width2{width: 800px;} */
form {
    position: absolute;
}  


.row {
    grid-gap: 50px;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
    
}

#myImg:hover {opacity: 0.7;}

.modal-dialog {
    width: 100vw;
}


/* Add Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    overflow: auto;
    background-image: url(../images/img1.jpg);
    
    padding: 10px;
    margin: 10px;
    border: 10px;

}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 50px;
    color: maroon;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 576px) {
    .modal-dialog { max-width: none; }
}
   